html {
    width: 100%;
    height: 100%;
    font-size: 16px;
    /* 最上層px x 該物件rem = 實際的rem換算的px*/
    /* ex: 16 x 0.75 = 12*/
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@import "./components/global.css";
@import "./components/header/index.css";
@import "./components/nav/index.css";
@import "./components/topBar/index.css";
@import "./components/shopBar/index.css";
@import "./components/popular/index.css";
@import "./components/newCollection/index.css";
@import "./components/sole/index.css";
@import "./components/subscribeBar/index.css";
@import "./components/fromOurCollection/index.css";
@import "./components/storyBehind/index.css";
@import "./components/footer/index.css";